<h1 class="title">ETA To Next Post</h1>

<p>
  <a href="https://beeminder.com/muflax/goals/<%= @goal %>">
    <img src="https://beeminder.com/muflax/goals/<%= @goal %>/graph?style=thumb">
  </a>
</p>
