<!-- print all items in a category, nicely formatted -->

<!-- find category index -->

<% cat = @site.category @category %>

<!-- header -->

# [<%= cat.item[:title] %>][]

<!-- print items in nice list -->

<% cat.members.sort_by{|i| i[:date]}.reverse.each do |i|
  techne = "<span class='techne_#{i[:techne]}'>#{i[:date]}</span>"
  status = "(#{episteme_cat i[:episteme]}) (#{techne})"
%>

{:.table}
- <span class='align_left'>[<%= i[:title]%>][]</span>
  <span class='align_right'><%= status %></span>

<div style='clear: both'></div>

<% end %>
