<!-- print all items in a category, nicely formatted -->

<!-- find category index -->
<% cat = @site.category @category %>

<!-- header -->
<h1><%= cat.link %></h1>

<!-- print items in nice list -->
<ul class="table">
  <% cat.members.sort_by{|i| i[:date]}.reverse.each do |i| %>
    <%= render 'list-item', :item => i, :episteme => true %>
  <% end %>
</ul>
