<% if @item.disowned? %>
  <div id="disowned">
    <h1>Warning</h1>

    <p>This page has been disowned according to the <a href="http://blog.muflax.com/propaganda/condemnation">Condemnation of 2012</a>. The <a href="/contact/">author</a> does not endorse or deny any of the views expressed here, even when it may appear so, and will not discuss them.</p>

    <p>The page is preserved for historical and game-theoretic reasons, and because the author likely put a shit-ton of work into it.</p>
  </div>
<% end %>
