<li>
  <span class='align_left'>
    <a href="<%= local_link @link %>">
      <%= @topic %>
    </a>
  </span>

  <span class='align_right' markdown="1">
    <%= @desc %>
  </span>

  <div style='clear: both'></div>
</li>
