<li>
  <span class='align_left'>
    <a href="<%= site_url @domain %>">
      <%= @site.site_yaml["sites"][@domain]["title"] %>
    </a>
  </span>

  <span class='align_right' markdown="1">
    <%= @desc %>
  </span>

  <div style='clear: both'></div>
</li>
