<div id="next-prev">
  <p><span class="align_left">
      <a class='next-prev' href='<%= @item.path %>'>
        ‹ <%= @item[:title] %>
      </a>
    </span>
    <span class="align_right">
      <a class='next-prev' href='<%= @item.path %>'>
        <%= @item[:title] %> ›
      </a>
    </span>
  </p>
</div>
