<!-- explanation of how super-texts work -->
<div id="super-text-disclaimer">
  <p>
    This is a super-text. It merges all historical versions of <em><%= @text %></em> into one text for easier reference. The text is broken down into stories, based entirely on internal structure, not manuscripts or speculative authorship.
  </p>

  <p>
    Interpolations within a story are underlined <span class="interpolation">like so</span>.
  </p>
</div>
